<table class="table">
  <tr>
    <th>شماره دانشجویی</th>
    <th>پست الکترونیک</th>
  </tr>
  <tr>
    <td><%= current_user.student_number %></td>
    <td><%= current_user.email %></td>
  </tr>
</table>